<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fullstack-basic-example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="appController as appCtrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="Enter filter (e.g. mammal)" ng-model="appCtrl.animalTypeFilter">
        </div>
        <div class="col-xs-4">
          <input type="button" class="btn btn-primary" value="Get Animals" ng-click="appCtrl.getAnimals()">
        </div>
        <div class="col-xs-2">
          <label>{{appCtrl.animalNames}}</label>
        </div>
      </div>
    </div>
  </body>
</html>
